In [5]:
a=12
print(a)

12

#Ejercicio 2

In [1]:
b=123
c=12
print(b+c)

135

Pandas

In [2]:
import pandas as pd

# Crear el DataFrame
data = {
    'Producto': ['Camiseta', 'Pantalón', 'Zapatos', 'Chaqueta', 'Sombrero'],
    'Cantidad': [20, 10, 5, 8, 12],
    'Precio Unitario': [15.00, 30.00, 50.00, 75.00, 10.00],
    'Fecha': ['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05']
}

df = pd.DataFrame(data)

# Calcular el total de ventas por producto
df['Total Ventas'] = df['Cantidad'] * df['Precio Unitario']

# Filtrar productos con ventas superiores a 500
productos_filtrados = df[df['Total Ventas'] > 500]

# Agrupar por fecha y calcular el total de ventas por día
ventas_por_fecha = df.groupby('Fecha')['Total Ventas'].sum().reset_index()

# Agregar columna de oferta
df['En Oferta'] = df['Precio Unitario'] < 20

# Mostrar resultados
print("DataFrame original:")
print(df)
print("\nProductos filtrados (ventas > 500):")
print(productos_filtrados)
print("\nTotal de ventas por fecha:")
print(ventas_por_fecha)

DataFrame original:
   Producto  Cantidad  Precio Unitario       Fecha  Total Ventas  En Oferta
0  Camiseta        20             15.0  2024-10-01         300.0       True
1  Pantalón        10             30.0  2024-10-02         300.0      False
2   Zapatos         5             50.0  2024-10-03         250.0      False
3  Chaqueta         8             75.0  2024-10-04         600.0      False
4  Sombrero        12             10.0  2024-10-05         120.0       True

Productos filtrados (ventas > 500):
   Producto  Cantidad  Precio Unitario       Fecha  Total Ventas
3  Chaqueta         8             75.0  2024-10-04         600.0

Total de ventas por fecha:
        Fecha  Total Ventas
0  2024-10-01         300.0
1  2024-10-02         300.0
2  2024-10-03         250.0
3  2024-10-04         600.0
4  2024-10-05         120.0

Leer archivo excel

In [3]:
import pandas as pd

# Leer el archivo Excel
df = pd.read_excel("c:/varios/datosBootcamp/empleados.xlsx")

# Mostrar las primeras 5 filas del archivo Excel
print(df.head())

   nro     nombre  edad        ciudad
0    1  Alejandro    56   Villa Elisa
1    2    Roberto    25      Asuncion
2    3      Luisa    46   Encarnacion
3    4        Luz    19   Encarnacion
4    5   Ezequiel    17  Cnel. Bogado

Leer archivo de texto

In [11]:
# Abre el archivo y lee todas las líneas en una lista
#with open('c:/varios/datosBootcamp/empleados.csv', 'r') as archivo:
#    lineas = archivo.readlines()  # Devuelve una lista con todas las líneas
#    print("\n",lineas)

with open('c:/varios/datosBootcamp/empleados.csv', 'r') as archivo:
    for linea in archivo:
#        print(linea.strip())  # Imprime cada línea sin saltos de línea adicionales

        campos = linea.strip().split(';')
        
        # Volver a imprimir los campos separados por tabuladores
        print('\t'.join(campos))

nro	nombre	edad	ciudad
1	Alejandro	56	Villa Elisa
2	Roberto	25	Asuncion
3	Luisa	46	Encarnacion
4	Luz	19	Encarnacion
5	Ezequiel	17	Cnel. Bogado
6	Diana	24	Asuncion

Datos de glosarios

In [13]:
import pandas as pd

# Leer el archivo Excel
df = pd.read_excel("c:/varios/datosBootcamp/glosario_informe_15_07_2024_v2.xlsx")

# Mostrar las primeras 5 filas del archivo Excel
print(df.head())

   Id codigo_glosario  codigo_categoria                   categoria  \
0   1           1.1.1                 1  Otros gastos de adecuación
1   2          1.10.1                10         Reemplazo de techos
2   3          1.10.2                10         Reemplazo de techos
3   4          1.10.3                10         Reemplazo de techos
4   5          1.10.4                10         Reemplazo de techos

   codigo_descripcion                                        descripcion  \
0                   1  Vallado perimetral protección de obras de….( m...
1                   1  De tejas y tejuelones, prensados, con tirantes...
2                   2  De tejas y tejuelas prensadas, con tirantes de...
3                   3  De tejas y tejuelones, prensados, con tirante ...
4                   4     De chapa con estruct. Metálica, chapa doblada.

  unidad_medida  precio_unitario
0            m²           180000
1            m²           545750
2            m²           582750
3            m²           571188
4            m²           562400